 #services:
  # px4-sitl:
    # image: px4_test_mavsdk:latest #px4_dev_local:latest
    # container_name: px4_sitl
    # tty: true
    # stdin_open: true
    # environment:
    #   - DISPLAY=:0
    #   - QT_X11_NO_MITSHM=1
    # volumes:
    #   - /tmp/.X11-unix:/tmp/.X11-unix:rw
    # command: ["tail", "-f", "/dev/null"] #["make","px4_sitl","gazebo-classic_iris"]
    # #command: ["make","px4_sitl","gazebo"]
    # network_mode: "host"

services:
  gazebo:
    image: px4_test_mavsdk:latest
    container_name: gazebo_server
    network_mode: "host"
    environment:
      - DISPLAY=:0
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: >
      bash -c "gazebo --verbose Tools/sitl_gazebo/worlds/empty.world"
  px4-sitl1:
    image: px4_test_mavsdk:latest
    container_name: px4_sitl1
    network_mode: "host"
    environment:
      - DISPLAY=:0
      - QT_X11_NO_MITSHM=1
      - PX4_SYS_AUTOSTART=4001
      - PX4_GZ_MODEL_NAME=iris_1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: >
      bash -c "make px4_sitl gazebo-classic_iris __instance:=1"

  px4-sitl2:
    image: px4_test_mavsdk:latest
    container_name: px4_sitl2
    network_mode: "host"
    environment:
      - DISPLAY=:0
      - QT_X11_NO_MITSHM=1
      - PX4_SYS_AUTOSTART=4001
      - PX4_GZ_MODEL_NAME=iris_2
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: >
      bash -c "make px4_sitl gazebo-classic_iris __instance:=2"

